DATABASE_URL=postgresql+psycopg://<user>:<password>@localhost:5432/<dbname>
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
GROQ_API_KEY=YOUR_GROQ_API_KEY
LLM_STUB=0
DB_HOST=DATABASE_HOST
DB_PORT=DATABASE_RUNNING_PORT
DB_NAME=DATABASE_NAME
DB_USER=DATABASE_USER
DB_PASSWORD=DATABASE_PASSWORD